#LocationDot {
	display: flex;
	position: relative;

	/* Approximation de la localisation, s'affiche que quand on zomme */
	#ApproxCircle {
		display: flex;
		position: relative;


		/* Couleur autour du point central */		
		#Base {
			position: absolute;
		
			width: 125px;
			height: 125px;
			opacity: 0.5;
			border-radius: 50%;

			&.loc-primary {
				background: var(--primary-color-light);
			}
			&.loc-secondary {
				background: var(--secondary-color-light);
			}
		}

		/* Pulse dot -> Effet de sonar autour du point central (uniquement si zoom) */
		#PulseDot {
			display: flex;

			width: 125px;
			height: 125px;
			border-radius: 50%;
			animation: sonar 2s linear infinite;

			&.loc-primary {
				background: var(--primary-color);
			}

			&.loc-secondary {
				background: var(--secondary-color);
			}
		}
	}

	

	/* Central dot delimiter -> Contour blanc autour du point central */
	#CentralDot {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		border-radius: 50%;

		animation: pulse 2s linear infinite;
		animation-direction: alternate;

		width: 18px;
		height: 18px;
		border: solid 3px var(--light-color);

		&.loc-primary {
			background-color: var(--primary-color);
		}

		&.loc-secondary {
			background-color: var(--secondary-color);
		}
	}
		
}

@keyframes sonar {
  0% {
    transform:scale3d(0.5, 0.5, 0.5);
    opacity: 0.5;
  }
  25%, 100% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}

@keyframes pulse {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		transform: translate(-50%, -50%) scale(1.1);
		
	}
	
}